<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Your Birthday Post </title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>

<h3> <i> [[${message1}]] </i> </h3>
<table class="table table-hover">
    <thead>
    <tr>
        <th>LuckyNumber</th>
        <th>Name </th>
        <th>Date </th>
        <th>Wishes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="onebook : ${singlebook}">
        <td>[[${onebook.id}]]</td>
        <td>[[${onebook.name}]]</td>
        <td>[[${onebook.date}]]</td>
        <td>[[${onebook.wishes}]]</td>
        <td>
            <button><a th:href="@{/update/{id} (id = ${onebook.id})}">Update</a></button>
            <button><a th:href="@{/delete/{id} (id = ${onebook.id})}">Delete</a></button>
        </td>
    </tr>
    </tbody>

</table>
<div th:replace="base :: footerfg"></div>
</body>
</html>